**/db
**/incremental_db
**/output_files
**/.qsys_edit
**/*.sopcinfo
**/tmp-clearbox
**/*.qws
**/*.qdf
**/sim/questa/work/*
**/sim/questa/transcript
**/src/sequencer_qsys/*
**/src/sequencer_qsys_tb/sequencer*
**/src/sequencer_qsys_tb/simulation/aldec
**/src/sequencer_qsys_tb/simulation/cadence
**/src/sequencer_qsys_tb/simulation/mentor/*
!**/src/sequencer_qsys_tb/simulation/mentor/adcsim_ch*.txt
!**/src/sequencer_qsys_tb/simulation/mentor/*.do
**/src/sequencer_qsys_tb/simulation/s*
**/src/sequencer_qsys_tb/synthesis/*
!**/board/*/*/quartus
**/board/*/*/quartus/*
!**/board/*/*/quartus/*.qip
!**/board/*/*/quartus/*.qpf
!**/board/*/*/quartus/*.qsf
!**/board/*/*/quartus/*.sdc
!**/board/*/*/quartus/*.bat
!**/board/*/*/src
**/board/*/*/src/Sequencer_10M50/.qsys_edit/*
**/board/*/*/src/Sequencer_10M50/sequencer_qsys/*
**/board/*/*/src/Sequencer_MAX1000/.qsys_edit/*
**/board/*/*/src/Sequencer_MAX1000/sequencer_qsys/*